graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include License.txt
include README.rst

include tox.ini .travis.yml .appveyor.yml
include environment.yml


global-exclude *.py[cod] __pycache__/* *.so *.dylib
